#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}


.nutrition_li
{
  margin-top: 13px;
}

.nutrition_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.nutrition_li img
{
  border-radius: 25px;
}

.nutrition_li p
{
  margin-top:10px;
}

.header_entrepreneur
{
  line-height: 2;
}
.book_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.book_mainDiv img
{
  width: 100%;
}

.book_mainDiv hr
{
    width: 230px; 
}

.book_mainDiv h5 , .book_mainDiv p
{
margin-left: 20px;
}


.book_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.book_head i
{
float: right;
}

.book_text span
{
color: #ff7700;
}


.book
{
  cursor: pointer;
}

.sport hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
}




